.container {
    width: 1920px;
    height: 1080px;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.studioBackground {
    /* If needed, matches other pages */
}

/* Right Sidebar Layout */
.sidebarArea {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    /* Center Vertically */
    justify-content: flex-end;
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    pointer-events: none;
}